body {
    color: #aaa;
    background-color: #272B30;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 0px;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #343a40;
}

main {
    padding: 20px 0px;
}

main button {
    margin-bottom: 20px;
}