<!DOCTYPE html>
<html lang="en">
<meta>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="admin.css">
<title>BACnet gateway</title>
</meta>

<body>


<div id="app">
    <header>
        <div class="text-center">
            <h1>BACnet MQTT Gateway</h1>
            <p>Admin interface for BACNet MQTT gateway</p>
            <hr/>
            <button v-on:click="showWhois" class="btn btn-dark">WhoIs</button>
            <button v-on:click="showObjects" class="btn btn-dark">Object list</button>
        </div>
    </header>
    <main class="container">

        <!-- DEVICES VIEW -->
        <div class="devices" v-if="state === 'whois'">
            <h2>Devices in Network</h2>
            <whois inline-template>
                <div>
                    <button v-on:click="whois" v-if="!loading" class="btn btn-primary">Scan Network</button>
                    <div v-if="loading">
                        <button class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm"></span>
                            Scanning... (5s timeout)
                        </button>
                        <button v-on:click="stopWhoisScan" class="btn btn-danger ml-2">Stop Scan</button>
                    </div>
                    <table class="table table-dark" v-if="!loading && devices && devices.length > 0">
                        <thead>
                        <tr>
                            <th scope="col">IP Address</th>
                            <th scope="col">Device ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="device in devices">
                            <td>{{device.address}}</td>
                            <td>{{device.deviceId}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </whois>
        </div>

        <!-- OBJECTS VIEW -->
        <div class="objects" v-if="state === 'objects'">
            <h2>Object List</h2>
            <device-scan inline-template>
                <div>
                    <form>
                        <div class="form-group">
                            <label>Device ID</label>
                            <input type="text" v-model="deviceId" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>IP Address</label>
                            <input type="text" v-model="address" class="form-control"/>
                        </div>
                        <button type="submit" v-if="!loading" v-on:click="scanDevice" class="btn btn-primary">Read
                            Objects
                        </button>
                        <button v-if="loading" class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm"></span>
                            Reading Objects...
                        </button>
                    </form>
                    <table class="table table-dark" v-if="!loading && objects && objects.length > 0">
                        <thead>
                        <tr>
                            <th scope="col">Object ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="object in objects" :key="object.objectId.type + '-' + object.objectId.instance">
                            <td>{{object.objectId.type}} / {{object.objectId.instance}}</td>
                            <td>{{object.name}}</td>
                            <td>{{object.description}}</td>
                            <td>
                                <button @click="openWriteForm(object)" class="btn btn-sm btn-info">Write</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Write Form Modal/Component -->
                    <div v-if="showWriteForm && selectedObjectForWrite">
                        <object-write-form
                            :device-id="selectedObjectForWrite.parentDeviceId"
                            :object-type="selectedObjectForWrite.objectType"
                            :object-instance="selectedObjectForWrite.objectInstance"
                            :initial-object-name="selectedObjectForWrite.initialObjectName"
                            @close-write-form="closeWriteForm"
                            @write-successful="handleWriteSuccessful">
                        </object-write-form>
                    </div>
                </div>
            </device-scan>
        </div>
    </main>
</div>

<!-- global templates -->
<script type="text/x-template" id="spinner">
    <div class="d-flex justify-content-center">
        <div class="spinner-border spinner" role="status"></div>
    </div>
</script>

<script type="text/x-template" id="object-write-form-template">
    <div class="object-write-form-modal">
        <div class="modal-content">
            <span class="close-button" @click="closeForm">&times;</span>
            <h4>Write to Object: {{ initialObjectName || (objectType + ':' + objectInstance) }}</h4>
            <p>Device ID: {{ deviceId }}</p>
            
            <div v-if="loading" class="spinner-container">
                <spinner></spinner> <!-- Assuming spinner component is globally available -->
            </div>

            <div v-if="!loading">
                <div class="form-group">
                    <label :for="'propId-' + objectInstance">Property ID:</label>
                    <select :id="'propId-' + objectInstance" v-model.number="propertyId" class="form-control">
                        <option v-for="prop in commonProperties" :value="prop.value">{{ prop.text }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label :for="'val-' + objectInstance">Value:</label>
                    <input type="text" :id="'val-' + objectInstance" v-model="valueToWrite" class="form-control">
                </div>

                <div class="form-group">
                    <label :for="'appTag-' + objectInstance">BACnet Application Tag (Optional):</label>
                    <select :id="'appTag-' + objectInstance" v-model.number="bacnetApplicationTag" class="form-control">
                        <option :value="null">Auto-detect (or None)</option>
                        <option v-for="tag in commonAppTags" :value="tag.value">{{ tag.text }}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label :for="'prio-' + objectInstance">Write Priority (Optional, 1-16):</label>
                    <input type="number" :id="'prio-' + objectInstance" v-model.number="priority" min="1" max="16" class="form-control">
                </div>

                <button @click="submitWrite" class="btn btn-primary btn-sm">Submit Write</button>
                <button @click="closeForm" class="btn btn-secondary btn-sm ml-2">Cancel</button>

                <div v-if="writeStatus === 'success'" class="alert alert-success mt-3">
                    {{ errorMessage }}
                </div>
                <div v-if="writeStatus === 'error'" class="alert alert-danger mt-3">
                    {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="admin.js"></script>

</body>
</html>
